<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hypertars.neighborChat.dao.BlockApplicationDAO">

    <sql id = "BlockApplicationCols">
        applicant, baTime, bid, txt, accepts, decisions
    </sql>

    <sql id = "BlockApplicationTable">
        BlockApplication
    </sql>

    <select id = "getBlockApplicationByApplicant">

    </select>

    <select id = "getBlockApplicationByRecipient">

    </select>

    <insert id = "addBlockApplication">

    </insert>

    <update id = "acceptBlockApplication">

    </update>

    <update id = "rejectBlockApplication">

    </update>

    <select id = "notifyNewBlockApplication">

    </select>

    <select id = "notifyPassBlockApplication">
        // Function
    </select>

    <select id = "norifyFailBlockApplication">
        // Function
    </select>

    <delete id="deleteBlockApplication">

    </delete>




</mapper>
