<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hypertars.neighborChat.dao.BlocksDAO">

    <sql id = "BlocksCols">
        bid, bname, hid, SW, NE
    </sql>

    <sql id = "BlocksTable">
        BlocksTable
    </sql>

    <select id = "getAllBlocks" resultType="com.hypertars.neighborChat.model.Blocks">
        SELECT * FROM Blocks
    </select>

    <select id = "getBlockByBid" resultType="com.hypertars.neighborChat.model.Blocks" parameterType="java.lang.Integer">
        select * from <include refid="BlocksTable"/> where bid = #{bid}
    </select>

    <select id = "getBlocksByHid">

    </select>




</mapper>
