<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hypertars.neighborChat.dao.BlockApplicationDAO">

    <sql id = "HoodsCols">
        hid, hname, SW, NE
    </sql>

    <sql id = "HoodsTable">
        Hoods
    </sql>

    <select id="getHoodByHid" resultType="com.hypertars.neighborChat.model.Hoods" parameterType="java.lang.Integer">
        SELECT <include refid="HoodsCols" /> FROM <include refid="HoodsTable" />
        WHERE hid = #{hid}
    </select>

    <select id="getHoodByBid" resultType="com.hypertars.neighborChat.model.Hoods" parameterType="java.lang.Integer">
        SELECT <include refid="HoodsCols" /> FROM <include refid="HoodsTable" /> NATURAL JOIN Blocks
        WHERE bid = #{bid}
    </select>

    <select id="getAllHoods" resultType="com.hypertars.neighborChat.model.Hoods">
        SELECT <include refid="HoodsCols" /> FROM <include refid="HoodsTable" />
    </select>

</mapper>
