<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hypertars.neighborChat.dao.BlockApplicationDAO">

    <sql id = "NeighborsCols">
        uidA, uidB, nTime
    </sql>

    <sql id = "NeighborsTable">
        Neighbors
    </sql>

    <select id="getNeighbors">

    </select>

    <select id="getNeighborsFromBlock">

    </select>

    <select id="getNeighborsFromHood">

    </select>

    <select id="checkNeighbors">

    </select>

    <insert id="addNeighbors">

    </insert>

    <delete id="deleteNeighbor">

    </delete>

    <delete id="deleteAllNeighbors">

    </delete>
</mapper>
