<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hypertars.neighborChat.dao.BlockApplicationDAO">

    <sql id = "NeighborsCols">
        uidA, uidB, nTime
    </sql>

    <sql id = "NeighborsTable">
        Neighbors
    </sql>

    <select id="getNeighbors" resultType="com.hypertars.neighborChat.model.Neighbors" parameterType="java.lang.Integer">
        SELECT <include refid="NeighborsCols" /> FROM <include refid="NeighborsTable" />
        WHERE uidA = {#uid};
    </select>

    <select id="getNeighborsFromBlock" resultType="com.hypertars.neighborChat.model.Neighbors" parameterType="java.lang.Integer">
        SELECT <include refid="NeighborsCols" /> FROM <include refid="NeighborsTable" />
        WHERE uidA = {#uid} AND uidB in (SELECT uid FROM UserBlock WHERE bid = (SELECT bid FROM UserBlock WHERE uid = #{uid}));
    </select>

    <select id="getNeighborsFromHood" resultType="com.hypertars.neighborChat.model.Neighbors" parameterType="java.lang.Integer">
        SELECT <include refid="NeighborsCols" /> FROM <include refid="NeighborsTable" />
        WHERE uidA = {#uid} AND uidB in (SELECT uid FROM Blocks NATURAL JOIN UserBlock WHERE hood = (SELECT hood FROM UserBlock NATURAL JOIN Blocks JOIN WHERE uid = #{uid}));
    </select>

    <select id="checkNeighbors" resultType="com.hypertars.neighborChat.model.Neighbors" parameterType="com.hypertars.neighborChat.model.Neighbors">
        SELECT COUNT(*)
        FROM <include refid="NeighborsTable" />
        WHERE uidA = #{uidA} AND uidB = #{uidB};
    </select>

    <insert id="addNeighbors" parameterType="com.hypertars.neighborChat.model.Neighbors">
        INSERT INTO <include refid="NeighborsTable"/>
        (uidA, uidB)
        VALUES (#{uidA}, #{uidB});
    </insert>

    <delete id="deleteNeighbor" parameterType="com.hypertars.neighborChat.model.Neighbors">
        DELETE FROM <include refid="NeighborsTable"/>
        WHERE uidA = #{uidA} AND uidB = #{uidB}
    </delete>

    <delete id="deleteAllNeighbors" parameterType="java.lang.Integer">
        DELETE FROM <include refid="NeighborsTable"/>
        WHERE uidA = #{uidA}
    </delete>
</mapper>
