<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hypertars.neighborChat.dao.BlockApplicationDAO">

    <sql id = "ReplyCols">
        msgid, uid, rTime, txt, coord
    </sql>

    <sql id = "ReplyTable">
        Reply
    </sql>

    <insert id="addNewReply">
        // Function: add new reply & update MailBox
    </insert>

    <select id="getReplyByMsgid" resultType="com.hypertars.neighborChat.model.Reply" parameterType="java.lang.Integer">
        SELECT <include refid="ReplyCols" /> FROM <include refid="ReplyTable" />
        WHERE msgid = #{msgid};
    </select>
</mapper>
