<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hypertars.neighborChat.dao.UserBlockDAO">

    <sql id = "UserBlockCols">
        uid, ubTime, bid, status
    </sql>

    <sql id = "UserBlockTable">
        UserBlock
    </sql>

    <select id="getUserBlockByBid" resultType="com.hypertars.neighborChat.model.UserBlock" parameterType="com.hypertars.neighborChat.model.UserBlock">
        SELECT <include refid="UserBlockCols" /> FROM <include refid="UserBlockTable" />
        WHERE bid = #{bid} and status = true;
    </select>

    <select id="getUserBlocksByUid" resultType="com.hypertars.neighborChat.model.UserBlock" parameterType="java.lang.Integer">
        SELECT <include refid="UserBlockCols" /> FROM <include refid="UserBlockTable" />
        WHERE uid = #{uid};
    </select>

    <select id="getUserBlocksByHid" resultType="com.hypertars.neighborChat.model.Blocks" parameterType="java.lang.Integer">
        SELECT <include refid="UserBlockCols" /> FROM <include refid="UserBlockTable" />
        WHERE bid in (SELECT bid FROM Blocks WHERE hid = #{hid});
    </select>

    <update id="exitBlock" parameterType="java.lang.Integer">
        UPDATE <include refid="UserBlockTable" />
        <set>
            status = False
        </set>
        WHERE uid = #{uid};
    </update>

    <select id="getSameBuilding">
        SELECT <include refid="UserBlockCols" /> FROM <include refid="UserBlockTable" />
        WHERE uid != #{uid} AND addr1 = (SELECT addr1 FROM <include refid="UsersTable" /> WHERE uid = #{uid});
    </select>

    <select id="getSameBlock">
        SELECT <include refid="UserBlockCols" /> FROM <include refid="UserBlockTable" />
        WHERE bid = (SELECT bid FROM UserBlock WHERE uid = #{uid});
    </select>

    <select id="getSameHood">
        SELECT <include refid="UserBlockCols" /> FROM <include refid="UserBlockTable" />
        WHERE bid in (SELECT bid FROM Blocks WHERE hood = (SELECT hood FROM UserBlock NATURAL JOIN Blocks JOIN WHERE uid = #{uid}));
    </select>

    <insert id="addUserBlock">
        // SQL Function: New account: add || old account: update & add
    </insert>


</mapper>
