<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hypertars.neighborChat.dao.UsersDAO">

    <sql id="UsersCols">
        uname, passwd, email, fName, lName, addr1, addr2, intro, photo, nRange, lastLog, notify
     </sql>

    <sql id="UsersTable">
        Users
    </sql>

    <select id="checkUName" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT (uname)
        FROM
        <include refid="UsersTable"/>
        WHERE
        uname = #{uname}
    </select>

    <insert id="userReg" parameterType="com.hypertars.neighborChat.model.Users" useGeneratedKeys="true"
            keyProperty="uid">
        INSERT INTO
        <include refid="UsersTable"/>
        (
        <include refid="UsersCols"/>
        )
        VALUES (
        #{uname}, #{passwd}, #{email}
        )
    </insert>

    <select id="userAuth" resultType="java.lang.String" parameterType="com.hypertars.neighborChat.model.Users">
        SELECT
        uid, passwd
        FROM
        <include refid="UsersTable"/>
        WHERE
        uname = #{uname}
        OR
        email = #{email}
    </select>

    <update id="restorePasswd" parameterType="com.hypertars.neighborChat.model.Users">
        UPDATE
        <include refid="refid=UsersTable"/>
        <set>
            <if test="passwd != null">passwd = #{passwd}</if>
        </set>
        WHERE
        uname = #{uname}
        AND
        email = #{email}
    </update>

    <select id="getUserInfoByUid" resultType="com.hypertars.neighborChat.model.Users" parameterType="java.lang.Integer">
        SELECT
        uid, <include refid="UsersCols" />
        FROM
        <include refid="UsersTable" />
        WHERE
        uid = #{uid}
    </select>

    <update id="userUpdate" parameterType="com.hypertars.neighborChat.model.Users">
        UPDATE
        <include refid="UsersTable"/>
        <set>
            <if test="uname != null">uname = #{uname},</if>
            <if test="passwd != null">passwd = #{passwd},</if>
            <if test="email != null">email = #{email},</if>
            <if test="fName != null">fName = #{fName},</if>
            <if test="lName != null">lName = #{lName},</if>
            <if test="addr1 != null">addr1 = #{addr1},</if>
            <if test="addr2 != null">addr2 = #{addr2},</if>
            <if test="intro != null">intro = #{intro},</if>
            <if test="photo != null">photo = #{photo},</if>
            <if test="nRange != null">nRange = #{nRange},</if>
            <if test="lastLog != null">lastLog = #{lastLog},</if>
            <if test="notify != null">notify = #{notify},</if>
        </set>
        WHERE uid = #{uid};
    </update>




</mapper>
