<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hypertars.neighborChat.dao.UsersDAO">

    <sql id="UsersCols">
        uname, passwd, email, fName, lName, addr1, addr2, intro, photo, nRange, lastLog, notify
     </sql>

    <sql id="UsersTable">
        Users
    </sql>

    <select id="checkUName" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT (uname)
        FROM
        <include refid="UsersTable"/>
        WHERE
        uname = #{uname};
    </select>

    <insert id="userReg" parameterType="com.hypertars.neighborChat.model.Users" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO
        <include refid="UsersTable"/>
        (uname, passwd, email)
        VALUES (#{uname}, #{passwd}, #{email});
    </insert>

    <select id="userAuth" resultType="java.lang.String" parameterType="com.hypertars.neighborChat.model.Users">
        SELECT
        uid, passwd
        FROM
        <include refid="UsersTable"/>
        WHERE
        uname = #{uname}
        OR
        email = #{email};
    </select>

    <update id="restorePasswd" parameterType="com.hypertars.neighborChat.model.Users">
        UPDATE
        <include refid="refid=UsersTable"/>
        <set>
            <if test="passwd != null">passwd = #{passwd}</if>
        </set>
        WHERE
        uname = #{uname}
        AND
        email = #{email};
    </update>

    <select id="getUserInfoByUid" resultType="com.hypertars.neighborChat.model.Users" parameterType="java.lang.Integer">
        SELECT
        uid, <include refid="UsersCols" />
        FROM
        <include refid="UsersTable" />
        WHERE
        uid = #{uid}
    </select>

    <update id="updateInfo" parameterType="com.hypertars.neighborChat.model.Users">
        UPDATE
        <include refid="UsersTable"/>
        <set>
            <if test="uname != null">uname = #{uname},</if>
            <if test="passwd != null">passwd = #{passwd},</if>
            <if test="email != null">email = #{email},</if>
            <if test="fName != null">fName = #{fName},</if>
            <if test="lName != null">lName = #{lName},</if>
            <if test="addr1 != null">addr1 = #{addr1},</if>
            <if test="addr2 != null">addr2 = #{addr2},</if>
            <if test="intro != null">intro = #{intro},</if>
            <if test="photo != null">photo = #{photo},</if>
            <if test="nRange != null">nRange = #{nRange},</if>
            <if test="lastLog != null">lastLog = #{lastLog},</if>
            <if test="notify != null">notify = #{notify},</if>
        </set>
        WHERE uid = #{uid};
    </update>

    <update id="updateLastLog" parameterType="java.lang.Integer">
        UPDATE
        <include refid="UsersTable"/>
        <set>
            lastLog = CURRENT_TIMESTAMP
        </set>
        WHERE uid = #{uid};
    </update>

    <select id="userFromFriends" resultType="com.hypertars.neighborChat.model.Users" parameterType="java.lang.Integer">
        SELECT <include refid="UserCols" /> FROM <include refid="UsersTable" />
        WHERE uid in ((SELECT uidA FROM Friends WHERE uidB = #{uid}) UNION (SELECT uidB FROM Friends WHERE uidA = #{uid}));
    </select>

    <select id="userFromNeighbors" resultType="com.hypertars.neighborChat.model.Users" parameterType="java.lang.Integer">
        SELECT <include refid="UserCols" /> FROM <include refid="UsersTable" />
        WHERE uid in (SELECT uidB FROM Neighbors WHERE uidB = #{uid});
    </select>

    <select id="userFromSameBuilding" resultType="com.hypertars.neighborChat.model.Users" parameterType="java.lang.Integer">
        SELECT <include refid="UserCols" /> FROM <include refid="UsersTable" />
        WHERE uid != #{uid} AND addr1 = (SELECT addr1 FROM <include refid="UsersTable" /> WHERE uid = #{uid});
    </select>

    <select id="userFromSameBlock" resultType="com.hypertars.neighborChat.model.Users" parameterType="java.lang.Integer">
        SELECT <include refid="UserCols" /> FROM <include refid="UsersTable" /> NATURAL JOIN UserBlock
        WHERE bid = (SELECT bid FROM UserBlock WHERE uid = #{uid});
    </select>

    <select id="userFromSameHood" resultType="com.hypertars.neighborChat.model.Users" parameterType="java.lang.Integer">
        SELECT <include refid="UserCols" /> FROM <include refid="UsersTable" /> NATURAL JOIN UserBlock
        WHERE bid in (SELECT bid FROM Blocks WHERE hood = (SELECT hood FROM UserBlock NATURAL JOIN Blocks JOIN WHERE uid = #{uid}));
    </select>

</mapper>
